In [89]:
import numpy as np
import pandas as pd

## Dataset 1 : Group Marks Dataset

In [90]:
df = pd.read_csv("group-marks.csv")

In [91]:
df.head()

,rollno,name,gender,group,session,age,scholarship,math,english,urdu
0,MS01,SAADIA,female,group B,MORNING,28,2562,No Idea,72.0,74
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69,90.0,88
2,MS03,ARIFA,female,NaN,EVENING,34,3500,NaN,95.0,93
3,MS04,SAADIA,female,group A,MOR,44,2000,47,57.0,44
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76,78.0,55

In [92]:
df.tail()

,rollno,name,gender,group,session,age,scholarship,math,english,urdu
45,MS46,TALHA,male,group B,EVENING,41,3000,65,54.0,57
46,MS47,SABA,female,group A,EVE,36,2500,55,65.0,62
47,MS48,RAFIA,female,group C,MORNING,30,3500,66,71.0,76
48,MS49,FATIMA,female,group D,MOR,40,2500,57,74.0,76
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66,78.0,81

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rollno       50 non-null     object
 1   name         50 non-null     object
 2   gender       50 non-null     object
 3   group        47 non-null     object
 4   session      50 non-null     object
 5   age          50 non-null     int64
 6   scholarship  50 non-null     int64
 7   math         46 non-null     object
 8   english      47 non-null     float64
 9   urdu         50 non-null     int64
dtypes: float64(1), int64(3), object(6)
memory usage: 4.0+ KB

In [94]:
df.isnull().sum()

rollno         0
name           0
gender         0
group          3
session        0
age            0
scholarship    0
math           4
english        3
urdu           0
dtype: int64

In [95]:
maths = df['math'].astype(int)
## the astype function doesn't work as it cant convert a string to a number

ValueError: invalid literal for int() with base 10: 'No Idea'

In [96]:
## we dont want to hard code a single case such as "no idea" , what we can do instead is that we can check if there is a character and since we 
## dont want a character in our maths number column we can just put it as NaN

maths = pd.to_numeric(df['math'], errors='coerce')

## here what it does is that it picks up the numbers and convert them to float and for any non numeric values it coerces them (forcefully removes them)

In [97]:
maths

0      NaN
1     69.0
2      NaN
3     47.0
4     76.0
5      NaN
6     88.0
7     40.0
8     64.0
9     38.0
10    58.0
11    40.0
12    65.0
13    78.0
14    50.0
15    69.0
16    88.0
17    18.0
18    46.0
19    54.0
20    66.0
21    65.0
22    44.0
23     NaN
24    74.0
25    73.0
26    69.0
27    67.0
28    70.0
29    62.0
30    69.0
31    63.0
32    56.0
33    40.0
34    97.0
35    81.0
36    74.0
37    50.0
38    75.0
39    57.0
40    55.0
41    58.0
42    53.0
43    59.0
44     NaN
45    65.0
46    55.0
47    66.0
48    57.0
49    66.0
Name: math, dtype: float64

In [98]:
df['math'] = maths

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rollno       50 non-null     object
 1   name         50 non-null     object
 2   gender       50 non-null     object
 3   group        47 non-null     object
 4   session      50 non-null     object
 5   age          50 non-null     int64
 6   scholarship  50 non-null     int64
 7   math         45 non-null     float64
 8   english      47 non-null     float64
 9   urdu         50 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 4.0+ KB

In [100]:
## now lets fix the other datatypes as well like urdu should be float , same as math and english
## here since urdu is int we can use astype and it wont cause any errors

df['urdu'] = df['urdu'].astype(float)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rollno       50 non-null     object
 1   name         50 non-null     object
 2   gender       50 non-null     object
 3   group        47 non-null     object
 4   session      50 non-null     object
 5   age          50 non-null     int64
 6   scholarship  50 non-null     int64
 7   math         45 non-null     float64
 8   english      47 non-null     float64
 9   urdu         50 non-null     float64
dtypes: float64(3), int64(2), object(5)
memory usage: 4.0+ KB

In [102]:
## now lets take care of the null values from group , math and english
## but first lets analyse the type of data in those columns

print(df['group'].values)

['group B' 'group C' nan 'group A' 'group C' 'group B' 'group B' 'group B'
 'group D' 'group B' 'group C' 'group D' nan 'group A' 'group A' 'group C'
 'group C' 'group B' 'group C' 'group C' 'group D' 'group B' 'group D'
 'group C' 'group D' 'group A' 'group B' 'group C' 'group C' 'group D'
 'group D' 'group B' nan 'group D' 'group E' 'group E' 'group D' 'group D'
 'group D' 'group B' 'group C' 'group C' 'group B' 'group B' 'group E'
 'group B' 'group A' 'group C' 'group D' 'group C']

In [103]:
## since session is a category lets replace null value with the mode and for math and english we can take the mean value and replace with that

df['math'].fillna(df['math'].mean(), inplace=True)
df['english'].fillna(df['english'].mean(), inplace=True)
df['group'].fillna(df['group'].mode()[0], inplace=True)

C:\Users\A L I E N W A R E\AppData\Local\Temp\ipykernel_19972\1509054814.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['math'].fillna(df['math'].mean(), inplace=True)
C:\Users\A L I E N W A R E\AppData\Local\Temp\ipykernel_19972\1509054814.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['english'].fillna(df['english'].mean(), inplace=True)
C:\Users\A L I E N W A R E\AppData\Local\Temp\ipykernel_19972\1509054814.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['group'].fillna(df['group'].mode()[0], inplace=True)

In [104]:
df.isnull().sum()

rollno         0
name           0
gender         0
group          0
session        0
age            0
scholarship    0
math           0
english        0
urdu           0
dtype: int64

In [105]:
original_length = len(df)
original_length

50

In [106]:
df.drop_duplicates(inplace=True)

In [107]:
updated_length = len(df)
updated_length

50

In [108]:
df['session'].unique()

array(['MORNING', 'AFTERNOON', 'EVENING', 'MOR', 'AFT', 'EVE'],
      dtype=object)

In [109]:
df['session'] = df['session'].map({'MORNING':'MOR','AFTERNOON':'AFT','EVENING':'EVE','EVE':'EVE','AFT':'AFT','MOR':'MOR'})

In [110]:
df['session'].unique()

array(['MOR', 'AFT', 'EVE'], dtype=object)

In [112]:
encoded_df = pd.get_dummies(df, columns=['gender', 'group', 'session'], drop_first=False)
encoded_df

,rollno,name,age,scholarship,math,english,urdu,gender_female,gender_male,group_group A,group_group B,group_group C,group_group D,group_group E,session_AFT,session_EVE,session_MOR
0,MS01,SAADIA,28,2562,61.644444,72.000000,74.0,True,False,False,True,False,False,False,False,False,True
1,MS02,JUMAIMA,33,2800,69.000000,90.000000,88.0,True,False,False,False,True,False,False,True,False,False
2,MS03,ARIFA,34,3500,61.644444,95.000000,93.0,True,False,False,False,True,False,False,False,True,False
3,MS04,SAADIA,44,2000,47.000000,57.000000,44.0,True,False,True,False,False,False,False,False,False,True
4,MS05,DANISH,54,2100,76.000000,78.000000,55.0,False,True,False,False,True,False,False,True,False,False
5,MS06,SAFIA,23,3800,61.644444,83.000000,78.0,True,False,False,True,False,False,False,True,False,False
6,MS07,SARA,47,3000,88.000000,95.000000,92.0,True,False,False,True,False,False,False,False,True,False
7,MS08,ABDULLAH,33,2000,40.000000,43.000000,39.0,False,True,False,True,False,False,False,False,True,False
8,MS09,KHAN,27,2500,64.000000,68.723404,67.0,False,True,False,False,False,True,False,False,False,True
9,MS10,HASEENA,33,2800,38.000000,60.000000,50.0,True,False,False,True,False,False,False,True,False,False
10,MS11,MUSTJAB,46,3000,58.000000,54.000000,52.0,False,True,False,False,True,False,False,False,False,True
11,MS12,ABRAR,53,3312,40.000000,52.000000,43.0,False,True,False,False,False,True,False,False,False,True
12,MS13,MAHOOR,25,2345,65.000000,81.000000,73.0,True,False,False,False,True,False,False,False,False,True
13,MS14,USAMA,26,2654,78.000000,72.000000,70.0,False,True,True,False,False,False,False,True,False,False
14,MS15,NAVAIRA,25,2137,50.000000,53.000000,58.0,True,False,True,False,False,False,False,True,False,False
15,MS16,SAWAIRA,29,2567,69.000000,75.000000,78.0,True,False,False,False,True,False,False,False,True,False
16,MS17,NOFIL,22,3500,88.000000,89.000000,86.0,False,True,False,False,True,False,False,False,False,True
17,MS18,SHUMAILA,31,2500,18.000000,68.723404,28.0,True,False,False,True,False,False,False,True,False,False
18,MS19,ABUBAKAR,33,3000,46.000000,42.000000,46.0,False,True,False,False,True,False,False,True,False,False
19,MS20,NADRA,36,2200,54.000000,58.000000,45.0,True,False,False,False,True,False,False,False,False,True
20,MS21,HASEEB,34,3500,66.000000,69.000000,63.0,False,True,False,False,False,True,False,True,False,False
21,MS22,HOORIA,32,2000,65.000000,75.000000,70.0,True,False,False,True,False,False,False,False,True,False
22,MS23,RAUF,31,2500,44.000000,54.000000,53.0,False,True,False,False,False,True,False,False,False,True
23,MS24,LAIBA,37,3000,61.644444,73.000000,73.0,True,False,False,False,True,False,False,True,False,False
24,MS25,FATIMA,33,2500,74.000000,71.000000,80.0,False,True,False,False,False,True,False,True,False,False
25,MS26,IBRAR,39,3500,73.000000,74.000000,72.0,False,True,True,False,False,False,False,False,True,False
26,MS27,USAMA,32,2500,69.000000,54.000000,55.0,False,True,False,True,False,False,False,False,True,False
27,MS28,NOOR,47,3000,67.000000,69.000000,75.0,True,False,False,False,True,False,False,False,False,True
28,MS29,UMAR,44,4000,70.000000,70.000000,65.0,False,True,False,False,True,False,False,True,False,False
29,MS30,ROSHAN,42,3500,62.000000,70.000000,75.0,True,False,False,False,False,True,False,False,False,True
30,MS31,UNAIZA,41,2500,69.000000,74.000000,74.0,True,False,False,False,False,True,False,False,True,False
31,MS32,FATIMA,19,3000,63.000000,68.723404,61.0,True,False,False,True,False,False,False,False,True,False
32,MS33,SHAISTA,29,3500,56.000000,72.000000,65.0,True,False,False,False,True,False,False,False,False,True
33,MS34,ALI,34,3000,40.000000,42.000000,38.0,False,True,False,False,False,True,False,False,True,False
34,MS35,ABDULLAH,45,2500,97.000000,87.000000,82.0,False,True,False,False,False,False,True,False,False,True
35,MS36,OSAMA,31,3500,81.000000,81.000000,79.0,False,True,False,False,False,False,True,True,False,False
36,MS37,AMBREEN,28,3000,74.000000,81.000000,62.0,True,False,False,False,False,True,False,False,True,False
37,MS38,NASEEM,26,2500,50.000000,64.000000,59.0,True,False,False,False,False,True,False,False,False,True
38,MS39,SAFIA,36,3500,75.000000,90.000000,88.0,True,False,False,False,False,True,False,True,False,False
39,MS40,NABEEL,33,3000,57.000000,56.000000,57.0,False,True,False,True,False,False,False,True,False,False
40,MS41,SIKANDER,35,2500,55.000000,61.000000,54.0,False,True,False,False,True,False,False,False,True,False
41,MS42,ZAIN,27,3500,58.000000,73.000000,68.0,True,False,False,False,True,False,False,False,True,False
42,MS43,AYESHA,38,3000,53.000000,58.000000,65.0,True,False,False,True,False,False,False,False,False,True
43,MS44,HASSAN,31,2500,59.000000,65.000000,66.0,False,True,False,True,False,False,False,True,False,False
44,MS45,ZAINAB,28,3500,61.644444,56.000000,54.0,True,False,False,False,False,False,True,False,False,True
45,MS46,TALHA,41,3000,65.000000,54.000000,57.0,False,True,False,True,False,False,False,False,True,False
46,MS47,SABA,36,2500,55.000000,65.000000,62.0,True,False,True,False,False,False,False,False,True,False
47,MS48,RAFIA,30,3500,66.000000,71.000000,76.0,True,False,False,False,True,False,False,False,False,True
48,MS49,FATIMA,40,2500,57.000000,74.000000,76.0,True,False,False,False,False,True,False,False,False,True
49,MS50,KAKAMANNA,37,3000,66.000000,78.000000,81.0,False,True,False,False,True,False,False,True,False,False

In [117]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols_to_scale = ['age', 'scholarship', 'math', 'english','urdu']
encoded_df[cols_to_scale] = scaler.fit_transform(encoded_df[cols_to_scale])

In [118]:
encoded_df

,rollno,name,age,scholarship,math,english,urdu,gender_female,gender_male,group_group A,group_group B,group_group C,group_group D,group_group E,session_AFT,session_EVE,session_MOR
0,MS01,SAADIA,0.257143,0.2810,0.552461,0.566038,0.707692,True,False,False,True,False,False,False,False,False,True
1,MS02,JUMAIMA,0.400000,0.4000,0.645570,0.905660,0.923077,True,False,False,False,True,False,False,True,False,False
2,MS03,ARIFA,0.428571,0.7500,0.552461,1.000000,1.000000,True,False,False,False,True,False,False,False,True,False
3,MS04,SAADIA,0.714286,0.0000,0.367089,0.283019,0.246154,True,False,True,False,False,False,False,False,False,True
4,MS05,DANISH,1.000000,0.0500,0.734177,0.679245,0.415385,False,True,False,False,True,False,False,True,False,False
5,MS06,SAFIA,0.114286,0.9000,0.552461,0.773585,0.769231,True,False,False,True,False,False,False,True,False,False
6,MS07,SARA,0.800000,0.5000,0.886076,1.000000,0.984615,True,False,False,True,False,False,False,False,True,False
7,MS08,ABDULLAH,0.400000,0.0000,0.278481,0.018868,0.169231,False,True,False,True,False,False,False,False,True,False
8,MS09,KHAN,0.228571,0.2500,0.582278,0.504215,0.600000,False,True,False,False,False,True,False,False,False,True
9,MS10,HASEENA,0.400000,0.4000,0.253165,0.339623,0.338462,True,False,False,True,False,False,False,True,False,False
10,MS11,MUSTJAB,0.771429,0.5000,0.506329,0.226415,0.369231,False,True,False,False,True,False,False,False,False,True
11,MS12,ABRAR,0.971429,0.6560,0.278481,0.188679,0.230769,False,True,False,False,False,True,False,False,False,True
12,MS13,MAHOOR,0.171429,0.1725,0.594937,0.735849,0.692308,True,False,False,False,True,False,False,False,False,True
13,MS14,USAMA,0.200000,0.3270,0.759494,0.566038,0.646154,False,True,True,False,False,False,False,True,False,False
14,MS15,NAVAIRA,0.171429,0.0685,0.405063,0.207547,0.461538,True,False,True,False,False,False,False,True,False,False
15,MS16,SAWAIRA,0.285714,0.2835,0.645570,0.622642,0.769231,True,False,False,False,True,False,False,False,True,False
16,MS17,NOFIL,0.085714,0.7500,0.886076,0.886792,0.892308,False,True,False,False,True,False,False,False,False,True
17,MS18,SHUMAILA,0.342857,0.2500,0.000000,0.504215,0.000000,True,False,False,True,False,False,False,True,False,False
18,MS19,ABUBAKAR,0.400000,0.5000,0.354430,0.000000,0.276923,False,True,False,False,True,False,False,True,False,False
19,MS20,NADRA,0.485714,0.1000,0.455696,0.301887,0.261538,True,False,False,False,True,False,False,False,False,True
20,MS21,HASEEB,0.428571,0.7500,0.607595,0.509434,0.538462,False,True,False,False,False,True,False,True,False,False
21,MS22,HOORIA,0.371429,0.0000,0.594937,0.622642,0.646154,True,False,False,True,False,False,False,False,True,False
22,MS23,RAUF,0.342857,0.2500,0.329114,0.226415,0.384615,False,True,False,False,False,True,False,False,False,True
23,MS24,LAIBA,0.514286,0.5000,0.552461,0.584906,0.692308,True,False,False,False,True,False,False,True,False,False
24,MS25,FATIMA,0.400000,0.2500,0.708861,0.547170,0.800000,False,True,False,False,False,True,False,True,False,False
25,MS26,IBRAR,0.571429,0.7500,0.696203,0.603774,0.676923,False,True,True,False,False,False,False,False,True,False
26,MS27,USAMA,0.371429,0.2500,0.645570,0.226415,0.415385,False,True,False,True,False,False,False,False,True,False
27,MS28,NOOR,0.800000,0.5000,0.620253,0.509434,0.723077,True,False,False,False,True,False,False,False,False,True
28,MS29,UMAR,0.714286,1.0000,0.658228,0.528302,0.569231,False,True,False,False,True,False,False,True,False,False
29,MS30,ROSHAN,0.657143,0.7500,0.556962,0.528302,0.723077,True,False,False,False,False,True,False,False,False,True
30,MS31,UNAIZA,0.628571,0.2500,0.645570,0.603774,0.707692,True,False,False,False,False,True,False,False,True,False
31,MS32,FATIMA,0.000000,0.5000,0.569620,0.504215,0.507692,True,False,False,True,False,False,False,False,True,False
32,MS33,SHAISTA,0.285714,0.7500,0.481013,0.566038,0.569231,True,False,False,False,True,False,False,False,False,True
33,MS34,ALI,0.428571,0.5000,0.278481,0.000000,0.153846,False,True,False,False,False,True,False,False,True,False
34,MS35,ABDULLAH,0.742857,0.2500,1.000000,0.849057,0.830769,False,True,False,False,False,False,True,False,False,True
35,MS36,OSAMA,0.342857,0.7500,0.797468,0.735849,0.784615,False,True,False,False,False,False,True,True,False,False
36,MS37,AMBREEN,0.257143,0.5000,0.708861,0.735849,0.523077,True,False,False,False,False,True,False,False,True,False
37,MS38,NASEEM,0.200000,0.2500,0.405063,0.415094,0.476923,True,False,False,False,False,True,False,False,False,True
38,MS39,SAFIA,0.485714,0.7500,0.721519,0.905660,0.923077,True,False,False,False,False,True,False,True,False,False
39,MS40,NABEEL,0.400000,0.5000,0.493671,0.264151,0.446154,False,True,False,True,False,False,False,True,False,False
40,MS41,SIKANDER,0.457143,0.2500,0.468354,0.358491,0.400000,False,True,False,False,True,False,False,False,True,False
41,MS42,ZAIN,0.228571,0.7500,0.506329,0.584906,0.615385,True,False,False,False,True,False,False,False,True,False
42,MS43,AYESHA,0.542857,0.5000,0.443038,0.301887,0.569231,True,False,False,True,False,False,False,False,False,True
43,MS44,HASSAN,0.342857,0.2500,0.518987,0.433962,0.584615,False,True,False,True,False,False,False,True,False,False
44,MS45,ZAINAB,0.257143,0.7500,0.552461,0.264151,0.400000,True,False,False,False,False,False,True,False,False,True
45,MS46,TALHA,0.628571,0.5000,0.594937,0.226415,0.446154,False,True,False,True,False,False,False,False,True,False
46,MS47,SABA,0.485714,0.2500,0.468354,0.433962,0.523077,True,False,True,False,False,False,False,False,True,False
47,MS48,RAFIA,0.314286,0.7500,0.607595,0.547170,0.738462,True,False,False,False,True,False,False,False,False,True
48,MS49,FATIMA,0.600000,0.2500,0.493671,0.603774,0.738462,True,False,False,False,False,True,False,False,False,True
49,MS50,KAKAMANNA,0.514286,0.5000,0.607595,0.679245,0.815385,False,True,False,False,True,False,False,True,False,False

## Dataset 2 - BMW Sales Data

In [119]:
df = pd.read_csv("BMW_sales_data.csv")

In [120]:
df.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [121]:
len(df)

50000

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [124]:
df.isnull().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [126]:
df.drop_duplicates(inplace=True)

In [127]:
len(df)

50000

In [132]:
df['Region'].unique()

array(['Asia', 'North America', 'Middle East', 'South America', 'Europe',
       'Africa'], dtype=object)

In [128]:
df['Fuel_Type'].unique()

array(['Petrol', 'Hybrid', 'Diesel', 'Electric'], dtype=object)

In [129]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [130]:
df['Color'].unique()

array(['Red', 'Blue', 'Black', 'Silver', 'White', 'Grey'], dtype=object)

In [131]:
df['Sales_Classification'].unique()

array(['High', 'Low'], dtype=object)

In [135]:
encoded_df = pd.get_dummies(df, columns=['Transmission','Sales_Classification'], drop_first=True)
encoded_df

,Model,Year,Region,Color,Fuel_Type,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Transmission_Manual,Sales_Classification_Low
0,5 Series,2016,Asia,Red,Petrol,3.5,151748,98740,8300,True,False
1,i8,2013,North America,Red,Hybrid,1.6,121671,79219,3428,False,True
2,5 Series,2022,North America,Blue,Petrol,4.5,10991,113265,6994,False,True
3,X3,2024,Middle East,Blue,Petrol,1.7,27255,60971,4047,False,True
4,7 Series,2020,South America,Black,Diesel,2.1,122131,49898,3080,True,True
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,4.6,151030,42932,8182,True,False
49996,i3,2023,Middle East,Silver,Electric,4.2,147396,48714,9816,True,False
49997,5 Series,2010,Middle East,Red,Petrol,4.5,174939,46126,8280,False,False
49998,i3,2020,Asia,White,Electric,3.8,3379,58566,9486,False,False
49999,X1,2020,North America,Blue,Diesel,3.3,171003,77492,1764,True,True